body {
  height: 100%;
  background: rgb(255, 61, 0);
  background: -webkit-linear-gradient(0deg, rgb(255, 61, 0) 0%, rgb(134, 8, 8) 100%) rgb(255, 255, 255);
  background:    -moz-linear-gradient(0deg, rgb(255, 61, 0) 0%, rgb(134, 8, 8) 100%) rgb(255, 255, 255);
  background:      -o-linear-gradient(0deg, rgb(255, 61, 0) 0%, rgb(134, 8, 8) 100%) rgb(255, 255, 255);
  background:     -ms-linear-gradient(0deg, rgb(255, 61, 0) 0%, rgb(134, 8, 8) 100%) rgb(255, 255, 255);
  background:         linear-gradient(450deg, rgb(255, 61, 0) 0%, rgb(134, 8, 8) 100%) rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(0, 0, 0);
}

.text {
  font-family: 'Lato', sans-serif;
  float: left;
  width: 25.5833333333%;
  min-height: 71px;
  margin: 298px 0 0 23.59896%;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: 'Nova Mono', monospace;
  font-style: normal;
  font-size: 2.5em;
  font-weight: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}